<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/Pages/Login/getSignInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>servlets.SignUpServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/Pages/Login/getSignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>UploadXMLServlet</servlet-name>
    <servlet-class>servlets.UploadXMLServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>UploadXMLServlet</servlet-name>
        <url-pattern>/Pages/UserPage/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserRepoServlet</servlet-name>
        <servlet-class>servlets.UserRepoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRepoServlet</servlet-name>
        <url-pattern>/Pages/UserPage/selectUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RepoPageServlet</servlet-name>
        <servlet-class>servlets.RepoPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepoPageServlet</servlet-name>
        <url-pattern>/Pages/UserPage/repoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BranchServlet</servlet-name>
        <servlet-class>servlets.BranchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BranchServlet</servlet-name>
        <url-pattern>/Pages/RepositoryPage/BranchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>commitServlet</servlet-name>
        <servlet-class>servlets.commitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>commitServlet</servlet-name>
        <url-pattern>/Pages/RepositoryPage/commitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MakeNewBranchServlet</servlet-name>
        <servlet-class>servlets.MakeNewBranchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeNewBranchServlet</servlet-name>
        <url-pattern>/Pages/RepositoryPage/MakeNewBranch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forkRepoServlet</servlet-name>
        <servlet-class>servlets.forkRepoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forkRepoServlet</servlet-name>
        <url-pattern>/Pages/UserPage/forkRepoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WcServlet</servlet-name>
        <servlet-class>servlets.WcServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WcServlet</servlet-name>
        <url-pattern>/Pages/RepositoryPage/WcServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileContentServlet</servlet-name>
        <servlet-class>servlets.FileContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileContentServlet</servlet-name>
        <url-pattern>/Pages/WcPage/FileContentServlet</url-pattern>
    </servlet-mapping>

</web-app>
